body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 450px;
    height: 120px;
    background-color: #2D3250;
    color: #F6B17A;
}

button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

#output-p {
    font-size: 12px;
    color: white;
    margin-top: 20px;
    font-size: 18px;
}


button {
font-size: 15px;
border-radius: 500px;
transition-duration: 0.4s;
border: 1px solid transparent;
text-align: center;
color: #fff;
background-color: #424769;

}
button:hover{
    transform: scale(1.05);
    background-color: #7077A1;
}